<?xml version="1.0" encoding = "UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name = "hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/dbinternetshop?serverTimezone=UTC</property>
        <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">uniuser</property>
        <property name="connection.password">12345</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>

        <mapping class="com.kenu.internetshop.model.Item"/>
        <mapping class="com.kenu.internetshop.model.Role"/>
        <mapping class="com.kenu.internetshop.model.User"/>
        <mapping class="com.kenu.internetshop.model.Bucket"/>
        <mapping class="com.kenu.internetshop.model.Order"/>
    </session-factory>

</hibernate-configuration>
